/* default settings */
* {
    background: lavender;
}

#header{
    font-family: 'Playfair Display', serif;
    color: 9900FF;
    text-align: center;
}

h1 {
    color: purple;
    text-align: center;
}

table, th, td {
   border: 1px solid mediumpurple;
}
th, td {
    padding: 8px;
}
div#member { border: 2px solid purple; padding: 8px; overflow: hidden}
span#member_search {float: left; width: 20%; border: 1px solid purple; padding: 5px}
span#member_summary {float: left; width: 75%; padding-left: 25px; padding-top: 5px; padding-bottom: 5px }

div#toy { border: 2px solid purple; padding: 8px; overflow: hidden}
span#toy_search {float: left; width: 20%; border: 1px solid purple; padding: 5px}
span#toy_summary {float: left; width: 75%; padding-left: 25px; padding-top: 5px; padding-bottom: 5px}
