<!--
context inputs:
daily_balance - decimal, currency for daily balance on top bar
login_name - logged in member name

For page html use the following template tags:
 block content
 endblock content
-->

<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/toybox/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/toybox/bootstrap-table-1.11.0/dist/bootstrap-table.css">
    <link rel="stylesheet" href="/static/toybox/bootstrap-datepicker-1.5.0/css/bootstrap-datepicker.min.css" />

    <script src="/static/toybox/jquery-1.11.3/jquery-1.11.3.min.js"></script>
    <script src="/static/toybox/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/toybox/bootstrap-table-1.11.0/dist/bootstrap-table.js"></script>
    <script src="/static/toybox/bootstrap-table-1.11.0/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <script src="/static/toybox/bootstrap-table-1.11.0/dist/extensions/export/bootstrap-table-export.js"></script>
    <script src="/static/toybox/bootstrap-table-1.11.0/dist/extensions/export/tableExport.js"></script>
    <script src="/static/toybox/bootstrap-table-1.11.0/dist/extensions/cookie/bootstrap-table-cookie.js"></script>
    <script src="/static/toybox/bootstrap-datepicker-1.5.0/js/bootstrap-datepicker.min.js"></script>

    <style>


        .glyphicon.glyphicon-ok, .glyphicon.glyphicon-remove, .glyphicon.glyphicon-ban-circle
        {
            font-size: 22px;
        }

        .badge-outline-default {
            color: black;
            border: 1px solid #999;
            border-color: black;
            background-color: transparent;
        }



        span.numcircle {
          background: #888888;
          border-radius: 0.8em;
          -moz-border-radius: 0.8em;
          -webkit-border-radius: 0.8em;
          color: #ffffff;
          display: inline-block;
          font-weight: bold;
          line-height: 1.6em;
          margin-right: 5px;
          text-align: center;
          width: 1.6em;
        }



    </style>
</head>

<body>



{% include "toybox/shift_popup.html" %}
{% include "toybox/till_popup.html" %}


<script type="text/javascript">
    //used to duplicate the side menu from the top menu (top menu hidden until collapsed)
      $(document).ready(function()
      {
        $("#duplicate-menu").html($("#menu").html());

        {% if request.session.logout == True %}
                window.location.href = {%url 'logout' %}
        {%endif%}

      });


//to deal with exporting the table with select filters - stops the choices being the column header for the exported data
//also deal with combo boxes, inpt text boxes and...
function DoOnCellHtmlData(cell, row, col, data)
{
    var result = "";

    if (data != "")
    {
        var html = $.parseHTML(data);

       // console.log(data);
        $.each(html, function ()
        {
           if ($(this).prop("tagName")=="SELECT")
                result+=$(this).find(":selected").text();

           else if ($(this).prop("tagName")=="INPUT")
                result+=$(this).val();

           else if ($(this).prop("tagName")=="SPAN")
                result+=$(this).text();

            if (typeof $(this).html() === 'undefined')
                result += $(this).text();
            else if (typeof $(this).attr('class') === 'undefined' || $(this).hasClass('th-inner') === true)
               result += $(this).html();
        });
    }
    //console.log(result);
    //console.log("------------------------------------");
    return result;
}

function logout()
{

    $('#setTillModal').modal('show');
}

function setshift()
{
    $('#setShiftModal').modal('show');
}

{%if setting_shift %}
    $( document ).ready(function()
    {
        $(window).load(function(){
            setshift();
        });

    });
{%endif%}

{%if request.session.first_login == True %}

        $( document ).ready(function()
        {
            $(window).load(function(){
                $('#setTillModal').modal('show');

            });

        });

{%endif%}

</script>







<!-- top nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top  ">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a href="{% url 'toybox:home' %}"><img class="pull-left" style="max-width:60px" src="/static/toybox/MTB logo.png"></a>
            <a class="navbar-brand" href="{% url 'toybox:home' %}"  style="margin-left: 5px; ">Toy Library</a>

            <p class="navbar-text navbar-left">{{version}}</a></p>

            {% if daily_balance %}
                <ul class="nav navbar-nav hidden-xs ">
                    <li><a href="{% url 'toybox:transactions' %}">Daily Balance: ${{ daily_balance|floatformat:2}}</a></li>
                </ul>
            {% endif %}
        </div>

        <div id="navbar" class="navbar-collapse collapse " style="max-height: none;">
            <ul class="nav navbar-nav navbar-right">

                {% if request.user.username %}

                <li><a href="/admin">Logged in as: {{ request.user.username }} {% if request.user.first_name %}({{request.user.first_name}} {{request.user.last_name}}){%endif%} </a></li>
                {% endif %}

                {% if enable_logout_button %}
                <li>
                    <p class="navbar-btn" style="margin-right: 10px; margin-left: 10px; ">
                        <a onclick="logout();"  class="btn btn-default">Logout</a>
                        <a onclick="setshift();" class="btn btn-default">Set Shift</a>
                    </p>
                </li>
                {%endif%}


                <!-- these are hidden until used for collapsed menu-->
                <div id="menu" class="visible-xs nav navbar-nav " style="margin-left: 0px; ">

                    <li><a href="{% url 'toybox:borrow' %}"><strong>Borrow & Payment</strong></a></li>
                    <li><a href="{% url 'toybox:returns' %}"><strong>Return</strong></a></li>
                    <li><a href="{% url 'toybox:members' %}"><strong>Members</strong></a></li>
                    <li><a href="{% url 'toybox:toys' %}"><strong>Toys</strong></a></li>
                    <li><a href="{% url 'toybox:shifts' %}"><strong>Shifts</strong></a></li>
                    <li><a href="{% url 'toybox:transactions' %}"><strong>Transactions</strong></a></li>
                    <!--<li><a href="/report_builder"><strong>Reports</strong></a></li>-->
                    <li><a href="/admin"><strong>Admin</strong></a></li>
                    <li><a href="{% url 'toybox:feedback' %}"><strong>Feedback</strong></a></li>


                </div>
            </ul>
        </div>
    </div>
</nav>

<div style="padding-top:70px;" class="container-fluid">
    <div class="row-fluid">

        <!-- side menu -->
        <div class="col-xs-1  nav hidden-xs ">
            <ul class="nav nav-sidebar nav-pills nav-stacked">
                <div id="duplicate-menu" class="nav nav-sidebar nav-pills nav-stacked"></div>
                <!-- menu duplicated with java script from top menu -->
            </ul>

        </div>

        <div class="col-xs-12 col-sm-11 main ">
            <div class="container-fluid">
            <!-- Page specific code -->
            {% block content %}{% endblock content %}
            <!-- Page specific code end -->
            </div>
        </div>

    </div>
</div>


</body>
</html>
