{% extends "toybox/base.html" %}

{% block content %}

<h1  class="page-header">Borrow Toy</h1>

<div id="member" class="row" >

    <div   class="col-xs-11 col-sm-10 ">

           {% include "toybox/member_search.html" %}
           {% include "toybox/member_search_select.html" with return_page="/toybox/borrow"%}

    </div>
    <div   class="col-xs-1" >

        <a href="{% url 'toybox:members' %}"><button title="Add New Member" type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span><span class="glyphicon glyphicon-user " aria-hidden="true"></span></button></a>

    </div>
</div>

<div class="row" >
      <div class="col-xs-12 col-sm-10 " style="margin-left: 20px; ">
        <br>
           {% if members == None %}
                {% include "toybox/member_summary.html" %}
          {% endif %}
        <br>
      </div>

</div>

<!--TODO need to be in a form to get data back in POST-->
<div class="row" style=" min-height: 80px;margin-left: 0px;" >
    <div class="input-group  col-xs-12 col-sm-10 ">

        <span type="text" title="Loan Duration in weeks for all newly borrowed toys" class="input-group-addon">Loan Duration in weeks</span>

          <div class="btn-group " data-toggle="buttons">
              {% for i in "123456" %}
                <label class="btn btn-default">
                    <input type="radio" id="loanDuration{{ i }}" value={{ i }} />{{ i }}
                </label>
              {% endfor %}
          </div>
    </div>

</div>

<div id="toy" class="row">

    <div   class="col-xs-12 col-sm-10 ">
        {% include "toybox/toy_search.html" %}
    </div>

</div>

    {% if toy %}
   <div class="row panel-fluid panel-default" style=" min-height:180px; ">
   {%else%}
     <div class="row panel-fluid panel-default" >
   {% endif %}

         <div   class="col-sm-3 col-xs-12">
            {% if toy != None %}
            <!--TODO include toy image in context-->
             <!--<img class="pull-left img-thumbnail"   src="{{ toy.image }}">-->
                <img class="pull-left img-thumbnail"  style=" max-height:150px;" src="/static/toybox/MTB logo.png">
            {% endif %}
       </div>

        <div   class="col-sm-8 col-xs-12 " style="margin-left: 20px;">
            {% if toy != None %}
                 {% include "toybox/toy_summary.html" %}
            <!--<a class="btn btn-primary btn-xs col-lg-12" href="{{ request.path }}?bt={{ toy.code }}">Borrow</a>-->
            {% endif %}
       </div>


    </div>



<div id="transaction"  class="row">
    <div class="panel-fluid panel-default col-xs-12 col-sm-10 ">

              <div class="panel-heading">Borrowed Toys</div>

              <!-- Table -->
              <table class="table">

                    <thead>
                        <tr>
                            <th>Toy ID</th>
                        	<th>Toy Description</th>
                            <th>Due In (days)</th>
                            <th>Fee</th>
                            <th>Remove</th>
                       	</tr>
                    </thead>

                   {% for t in toy_list %}
                   <tr>
                        <td><a href="{% url 'toybox:borrow' %}{{member.id}}/?tc={{t.code}}" >{{ t.code }}</a></td>
                        <td>{{ t.description }}</td>

                        <td>
                            {% if t.due_in < 0 %}
                                <span class="label label-danger label-as-badge">
                            {% else %}
                                <span class="label label-success label-as-badge">
                            {% endif %}
                                    {{ t.due_in }}</span>
                        </td>
                       <!--TODO only show if toy is newly added-->
                        <td>${{ t.fee|floatformat:2 }}</td>
                       <!--TODO only show if toy is newly added-->
                        <td><button title="Remove this toy from list" type="button" class="btn btn-danger" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </button>
                        </td>
                     </tr>
                     {% endfor %}
              </table>
        </div>


</div>


<!--TODO calculate fee-->

<div class="row" style=" min-height: 80px;" >
    <div class="input-group panel-fluid panel-default col-xs-12 col-sm-10 ">
          <span class="input-group-addon">Fee Due $</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
           <span class="input-group-btn">
                <button class="btn btn-default" type="button">Done</button>
          </span>
    </div>
</div>


{% endblock content %}

