<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/toybox/tc.css">
</head>
<body>
<h2>Loan Toy</h2>
<form action="." method="post" >
    {% csrf_token %}
    {{ toy_search_form.toy_id.label }}<br>
    {{ toy_search_form.toy_id }}
     <input type="image" src="/static/toybox/icons/search.svg" height="18" width="18" alt="Search"/>
</form>
{% if toys %}
    {% for toy in toys %}
        <a href="{% url 'toybox:loans' %}?tc={{ toy.code }}"> {{ toy.code }} ({{ toy.description }}) </a><br>
    {% endfor %}
{% endif %}
</body>
