{% extends "toybox/base.html" %}
{% load widget_tweaks %}
{% load templatetags %}
{% block content %}

{% include "toybox/change_fee.html" %}

<h1  id="page_table" class="page-header">Borrow Toy</h1>

<div id="member" class="row" >

    <div   class="col-xs-10 col-sm-10 ">

           {% include "toybox/member_search.html" with return_page="/toybox/borrow" %}
           {% include "toybox/member_search_select.html" with return_page="/toybox/borrow"%}

    </div>
    <div   class="col-xs-1" >

        <a href="{% url 'toybox:members' %}"><button title="Add New Member" type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span><span class="glyphicon glyphicon-user " aria-hidden="true"></span></button></a>

    </div>
</div>

<div class="row" >
      <div class="col-xs-12 col-sm-10 " style="margin-left: 20px; ">
        <br>
           {% if members == None %}
                {% include "toybox/member_summary.html" %}
          {% endif %}
        <br>
      </div>

</div>


<div id="toy" class="row">

    <div   class="col-xs-12 col-sm-10 ">
        {% include "toybox/toy_search.html" %}
        {% include "toybox/toy_search_select.html" with return_page="/toybox/borrow"%}
    </div>

</div>

{% if toy %}
   <div class="row" >


        {% include "toybox/toy_summary.html" %}


   </div>
{%else%}
     <div class="row panel-fluid panel-default" ></div>
{% endif %}


<div id="transaction"  class="row">
    <div class="panel-default col-xs-12 col-sm-10 ">

              <div class="panel-heading">Borrowed Toys</div>

              <!-- Table -->
          <form action="{{ request.get_full_path }}" method='post'>
                {% csrf_token %}
              <table class="table" id="toy_table">

                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Toy ID</th>
                        	<th>Toy Name</th>
                            <th>Due</th>
                            <th>Borrow Fee</th>
                            <th>Remove</th>
                       	</tr>
                    </thead>

                  {% for toy in new_borrow_toy_list %}
                   <tr>
                       <td>
                           <button type="button" class="btn" data-toggle="collapse" data-target="#accordion_{{toy.code}}" ><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                       </td>

                        <td>
                            <a href="{% url 'toybox:toys' %}{{toy.code}}" >{{ toy.code }}</a>
                                <span class="label label-success label-as-badge">New</span>
                        </td>

                        <td>{{ toy.name }}</td>

                        <td>
                            <span class="label label-success label-as-badge"><span name="new_toy_due">0</span> weeks</span>
                        </td>

                       <td>
                            $<span name="fee" value="{{toy.loan_type.loan_cost}}">{{ toy.loan_type.loan_cost|floatformat:2}}</span>
                       </td>

                        <td>
                            <button title="Remove this toy from list" name="remove_toy_{{toy.code}}" type="submit" class="btn btn-danger" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </button>
                        </td>

                     </tr>



                    <tr>
                        <td colspan="6" style="border-top: none !important;">
                            <div id="accordion_{{toy.code}}" class="collapse">
                                 {% include "toybox/toy_summary.html" %}

                            </div>
                        </td>
                    </tr>
                   {% endfor %}


                   {% for toy in toy_list %}

                   <tr>
                        <td>
                           <button type="button" class="btn" data-toggle="collapse" data-target="#accordion_{{toy.code}}" ><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                       </td>

                        <td>
                            <a href="{% url 'toybox:toys' %}{{toy.toy.code}}" >{{ toy.code }}</a>
                        </td>

                        <td>{{ toy.name }}</td>

                        <td>
                            <span class="label {% if toy.due_date|timebetween|slice:':1' == '-' %} label-danger {%else%} label-success {%endif%} label-as-badge">{{ toy.due_date|timebetween}}</span>
                        </td>

                       <td>
                           N/A
                       </td>

                        <td>
                            <button title="Remove this toy from list" type="button" class="btn " aria-label="Left Align" disabled>
                                <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </button>
                        </td>

                     </tr>

                    <tr>
                        <td colspan="6" style="border-top: none !important;">
                            <div id="accordion_{{toy.code}}" class="collapse">

                                   <!--TODO feed toy into toy_summary-->
                                {% include "toybox/toy_summary.html" %}


                           </div>

                        </td>
                    </tr>
                     {% endfor %}

              </table>
               </form>
        </div>


</div>



 <form role="form" action="{{ request.get_full_path }}" class="form-group" method='post'>
    {% csrf_token %}

    <div class="row" style=" min-height: 80px;margin-left: 0px;" >
        <div class="input-group  col-xs-12 col-sm-10 ">

            <span type="text" id="duration_title" title="Loan Duration in weeks for all newly borrowed toys" class="input-group-addon">Loan Duration in weeks</span>

              <div class="btn-group " data-toggle="buttons" id="loanDurationRadioGroup">


                  {% for item in payment_form.loan_duration %}


                  <label class="btn btn-default{% if 'checked' in item.render %} active {% endif %}">{{ item|striptags }}</label>

                <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->

                    <!--&lt;!&ndash;<input class="btn btn-default{% if 'checked' in item.render %} active {% endif %}" type="radio" id="loanDuration" name="loanDuration" value="{{item|striptags}}" />{{item|striptags}}&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->


                  {% endfor %}

              </div>
        </div>

    </div>

<!--TODO show member balance as a result - above?-->
<!--TODO send back actual fee due and fee paid. Update member balance-->



    {% for field in payment_form %}
    {%if field.field.widget.attrs.visible%}

     <div class="row" style=" min-height: 60px;" >
        <div class="input-group col-xs-12 col-sm-10 ">
            <span class="input-group-addon">{{field.label_tag|striptags}} $</span>
            {% render_field field class+="form-control" id=field.auto_id %}

             {% if field.field.widget.attrs.adjust_button %}
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" name="{{field.auto_id}}_adjust" data-toggle="modal" onclick='changeFee("{{field.auto_id}}");' data-target="#feeChangeModal">Adjust</button>
               </span>
            {% endif %}
            </div>

         <ul  style="list-style-type:none;list-style:none;padding-left:0;">
        {% for error in field.errors  %}
            <li><label class="label label-danger">{{ error|striptags }}</label></li>
        {% endfor %}
        </ul>
         </div>
    {% endif %}

    {% endfor %}



    <div class="row" style=" min-height: 60px;" >

        <div class="input-group panel-fluid panel-default col-xs-12 col-sm-10 {%if payment_form.fee_paid.errors %} has-error {%endif%}">

              <span class="input-group-addon">{{payment_form.fee_paid.label_tag|striptags}} $</span>
            {% render_field payment_form.fee_paid class+="form-control" id="fee_paid"%}

              <!--<input id="fee_paid" type="text" class="form-control" aria-label="Actual amount member paid">-->
               <span class="input-group-btn">
                   <a href="{% url 'toybox:borrow' %}" class="btn btn-default" name="cancel" role="button"> <span class="glyphicon glyphicon-remove btn-danger" aria-hidden="true"></span> Cancel</a>
                    <button class="btn btn-default" name="done" type="submit" >Done</button>
              </span>
        </div>

        <ul  style="list-style-type:none;list-style:none;padding-left:0;">
        {% for error in payment_form.fee_paid.errors  %}
            <li><label class="label label-danger">{{ error|striptags }}</label></li>
        {% endfor %}
        </ul>




    </div>
</form>

<script type="text/javascript">

$("#loanDurationRadioGroup").change(function(){UpdateFee()});

$( document ).ready(function(){UpdateFee()});

function UpdateFee()
{
    var fee_mult=parseFloat($("input[name='loan_duration']:checked","#loanDurationRadioGroup").val());
    var total=0.0;
   $("span[name='fee']","#toy_table")
   .each(

           function()
           {
                var originalValue=parseFloat(this.getAttribute("value"));
                var newValue=fee_mult*originalValue;

                this.innerHTML=newValue.toFixed(2);
                total+=newValue;
           }
   );

   $("span[name='new_toy_due']","#toy_table")
   .each(
        function()
        {
           this.innerHTML=fee_mult;
        }
   );

   document.getElementById("fee_due").value=total.toFixed(2);
}


</script>
{% endblock content %}

