{% extends "toybox/base.html" %}

{% block content %}

<h4>Should go to log in if not logged in already, otherwise borrow toy</h4>

{% endblock content %}




<!--<body>-->
<!--<head>-->
    <!--<link rel="stylesheet" href="/static/toybox/tc.css" />-->
    <!--<link href='http://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'/>-->
<!--</head>-->

<!--<div id="header">-->
<!--meg's toy box-->
<!--</div>-->

<!--What would you like to do today?<br/>-->

<!--<a href={% url 'toybox:returns' %}>-->
<!--<img src="/static/toybox/returns.png" width="300" height="100" border="0"></a>-->

<!--<a href={% url 'toybox:loans' %}>-->
<!--<img src="/static/toybox/loans.png" width="250" height="100" border="0"></a><br/>-->

<!--<a href={% url 'toybox:membership_admin' %}>-->
<!--<img src="/static/toybox/membership.png" width="450" height="150" border="0"></a>-->

<!--<a href={% url 'toybox:end_of_day' %}>-->
<!--<img src="/static/toybox/eod.png" width="480" height="100" border="0"></a><br/>-->

<!--</body>-->


