
{% extends "toybox/base.html" %}
{% load widget_tweaks %}
{% load templatetags %}
{% block content %}

<style>
.glyphicon.glyphicon-ok, .glyphicon.glyphicon-remove, .glyphicon.glyphicon-ban-circle
{
    font-size: 22px;
}

.badge-outline-default {
    color: black;
    border: 1px solid #999;
    border-color: black;
    background-color: transparent;
}

</style>


<h1  class="page-header">Members</h1>



<div class="row">

    <div class="panel-fluid panel-default col-xs-11 col-sm-8">
              <!-- Default panel contents -->
         <div class="panel-heading">Member List</div>

            <table  id="member_table"
                    data-show-export="true"
                    data-export-types="['excel','csv']"
                    data-classes="table table-condensed table-no-bordered"
                    class="table table-condensed"
                    data-filter-control="true"
                    data-toggle="table"
                    data-sort-name="name"
                    data-sort-order="asc"
                    row-height="20"
                    data-search="true"
                    data-show-columns="true"
                    data-pagination="true"
                    data-page-size="20"
                    data-page-list='[20, 50, 100, 200, 300, 500]'
                    data-cookie="true"
                    data-cookie-id-table="member_table"
                    data-show-pagination-switch="true"
                    >


                    <thead>
                        <tr>
                        	<th data-field="name"  data-sortable="true" data-filter-control="input">Name</th>
                            <th data-field="status"  data-sortable="true" data-filter-control="select">Status</th>
                            <th data-field="loans"  data-sortable="true">Loans</th>
                            <th data-field="wed"  data-visible="false" data-sortable="true" data-filter-control="select">Wed</th>
                            <th data-field="sat"  data-visible="false" data-sortable="true" data-filter-control="select">Sat</th>
                            <th data-field="volunteer"  data-visible="false" data-sortable="true" data-filter-control="select">Active<br>Volunteer</th>
                            <th data-field="committee"  data-visible="false" data-sortable="true" data-filter-control="select">Committee<br>Member</th>
                       	</tr>
                    </thead>

                    {% for m in members %}

                    <tr>
                            <td>
                                <a  name="{{ m.name }}" href="{% url 'toybox:members' member_id=m.id %}{{action}}">
                                    {{ m.name }}
                                </a>
                            </td>

                            <td class="text-center">
                                {% if m.is_current %}
                                <span class="label label-success label-as-badge">Valid</span>
                                {% else %}
                                <span class="label label-danger label-as-badge">Not Current</span>
                                {% endif %}
                            </td>


                           <td class="text-center">
                               {% spaceless %}
                                   {% if m.id not in loan_counts %}
                                        <a name="0" href="{% url 'toybox:returns' member_id=m.id %}">
                                            <span class="label label-default label-as-badge">0</span>
                                        </a>
                                   {%else%}
                                        {% for key, value in loan_counts.items %}
                                            {% if key == m.id %}
                                                    {% if m.id in loans_overdue %}
                                                        <a name="{{value}}" href="{% url 'toybox:returns' member_id=m.id %}">
                                                            <span class="label label-danger label-as-badge">{{ value }}</span>
                                                        </a>
                                                    {%else%}
                                                        <a name="{{value}}" href="{% url 'toybox:returns' member_id=m.id %}">
                                                            <span class="label label-success label-as-badge">{{ value }}</span>
                                                        </a>
                                                    {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                   {%endif%}
                               {% endspaceless %}
                           </td>

                        <td class="text-center">
                            {% spaceless %}
                                {% if m.volunteer %}
                                    <span class="hidden">{{m.volunteer_capacity_wed}}</span>
                                    {% if m.volunteer_capacity_wed %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}
                                {% else %}
                                    <span class="hidden">Inactive</span>
                                    <span class="glyphicon glyphicon-ban-circle text-danger" aria-hidden="true" ></span>
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td class="text-center">
                             {% spaceless %}
                                {% if m.volunteer %}
                                    <span class="hidden">{{m.volunteer_capacity_sat}}</span>
                                    {% if m.volunteer_capacity_sat %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}
                                {% else %}
                                    <span class="hidden">Inactive</span>
                                    <span class="glyphicon glyphicon-ban-circle text-danger" aria-hidden="true" ></span>
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td class="text-center">
                             {% spaceless %}

                                    <span class="hidden">{{m.volunteer}}</span>
                                    {% if m.volunteer %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}

                            {% endspaceless %}
                        </td>
                        <td class="text-center">
                            {% spaceless %}
                                    <span class="hidden">{{m.committee_member}}</span>
                                    {% if m.committee_member %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}
                            {% endspaceless %}
                        </td>
                       </tr>
                    {% endfor %}
            </table>
      </div>


    <div class="panel-fluid panel-default col-xs-12 col-sm-4 " style="text-align: left; vertical-align: middle; ">
        <div class="panel-heading">Member Details</div>


        <form role="form" action="{{ request.get_full_path }}" class="form-group" id="memberForm" method='post'>
            {% csrf_token %}

            <div class="text-center">
                <br>
                <a href="{% url 'toybox:members' %}">
                    <button title="Clear fields to add New Member" type="button" class="btn btn-success" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                    </button>
                </a>
                &nbsp
                {%if member_detail_submit_button_label == "Add" %}
                    <button type="submit" name="add" class="btn btn-success" title="Commit new member to the database"><strong>Add</strong></button>
                {%else%}
                    <button type="submit" name="update" class="btn btn-success" title="Commit member changes to the database"><strong>Update</strong></button>
                {%endif%}
            </div>

            <div class="fieldWrapper" >
            {% for field in member_details_form %}
                <br>
                 {% for key, value in field.field.widget.attrs.items %}
                    {% if key == "group" %}
                        <div class="text-center">
                            <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#{{key}}_{{value}}">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                {{value}}
                            </button>
                        </div>
                <br>
                        <div class="collapse collapse-class" id="{{key}}_{{value}}">
                    {%endif%}
                {%endfor%}

                {{ field.label_tag }}{% if field.field.required %} <div class="label  label-as-badge badge-outline-default">Required</div>{%endif%}

                {% if 'datepicker' in field.field.widget.attrs %}
                    <div class="input-group input-append date" >
                        {% render_field field class+="form-control" %}
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                {% else %}
                    {% render_field field class+="form-control" %}
                {%endif%}

                {% if field.errors %}
                    <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                        {% for error in field.errors  %}
                            <li><label class="label label-danger">{{ error|striptags }}</label></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if "endgroup" in field.field.widget.attrs %}
                    </div>
                {%endif%}

            {% endfor %}

            </div>
             <div class="text-center">
                <br>
                {%if member_detail_submit_button_label == "Add" %}
                    <button type="submit" name="add" class="btn btn-success" title="Commit new member to the database"><strong>Add</strong></button>
                {%else%}
                    <button type="submit" name="update" class="btn btn-success" title="Commit member changes to the database"><strong>Update</strong></button>
                {%endif%}
            </div>

        </form>

    </div>


</div>

<div class="modal  fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <!--<div class="modal-content">-->
                <div class="alert alert-success">
                    <strong>Success!</strong> Member details were committed successfully
                </div>
            <!--</div>-->
        </div>
</div>

<script>
$(document).ready(function() {

 $('.date')
        .datepicker({
            format: 'dd/mm/yyyy',
            autoclose:'true',
            clearBtn:'true',
            todayHighlight:'true',
            todayBtn: 'linked',
            orientation: 'auto'

        })


{% if success %}

function hide_modal(){
    $('#successModal').modal('hide');
}

$(window).load(function(){
    $('#successModal').modal('show');
    window.setTimeout(hide_modal, 2000);
});
{% endif %}
});


$(document).ready(function() {
var $table = $('#member_table');
$table.bootstrapTable('refreshOptions', {
    exportOptions: {
        onCellHtmlData: DoOnCellHtmlData
    }
});
});



</script>
{% endblock content %}