
{% load widget_tweaks %}
<div id="member_edit" member_id="{{member_edit_id}}">

        <!--<form role="form" action="{{ request.get_full_path }}"  class="form-group" id="memberForm" method='post' onsubmit="postMember(this);">-->
            <!--{% csrf_token %}-->



            <div class="fieldWrapper" >
            {% for field in member_edit_form %}
                <br>
                 {% for key, value in field.field.widget.attrs.items %}
                    {% if key == "group" %}
                        <div class="text-center">
                            <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#{{key}}_{{value}}">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                {{value}}
                            </button>
                        </div>
                <br>
                        <div class="collapse {% if field.errors %} in {%endif%} collapse-class" id="{{key}}_{{value}}">
                    {%endif%}
                {%endfor%}

                {{ field.label_tag }}{% if field.field.required %} <span class="label  label-as-badge badge-outline-default">Required</span>{%endif%}

                 {% if 'datepicker' in field.field.widget.attrs %}
                            <div class="input-group date" >
                                {% render_field field id=field.auto_id  class+="form-control" data-date-format="dd/mm/yyyy" data-date-today-highlight="true" data-date-today-btn="linked" data-date-autoclose="true" data-provide="datepicker"%}
                                <span class="input-group-addon datebtn" onclick="{{field.auto_id}}.focus();"><span class="glyphicon-calendar glyphicon" ></span></span>
                            </div>
                        {% else %}
                            {% render_field field class+="form-control" %}
                        {%endif%}




                {% if field.errors %}
                    <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                        {% for error in field.errors  %}
                            <li><label class="label label-danger">{{ error|striptags }}</label></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if "endgroup" in field.field.widget.attrs %}
                    </div>
                {%endif%}

            {% endfor %}

            </div>

    <!--</form>-->

</div>

<script>








</script>