<!--<head>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/toybox/tc.css">-->
<!--</head>-->
<div id="member_summary">
{% if member %}


    <a href="{% url 'toybox:members' member.id %}"><strong>{{ member.name }}</strong></a>
    <p>Partner: {{ member.partner }}</p>
    <h4>
        <!--<p >-->
        {% if member.is_current %}
        <span class="label label-success label-as-badge"> Member Status: VALID</span>
        {% else %}
        <span class="label label-danger label-as-badge"> Member Status: OVER DUE</span>
        {% endif %}
        <!--</p>-->
    </h4>


    <p>Balance: ${{ member.balance|floatformat:2 }}</p>


    <!--<p align="right">Phone: {{ member.phone_number1 }}</p>-->
    <!--<p align="right">Joined: {{ member.join_date }}</p>-->

{% else %}
    <!--<br><br><br><br>-->
{% endif %}
    <!--{% if member %}-->
        <!--<h3>{{ member.name }}</h3>-->
    <!--{% else %}-->
        <!--<h3><i>select member</i></h3>-->
    <!--{% endif %}-->
<!--Partner: {{ member.partner }}<br>-->

<!--Balance: ${{ member.balance }}<br>-->

</div>