
{% extends "toybox/base.html" %}
{% load widget_tweaks %}

{% block content %}

<style>
.glyphicon.glyphicon-ok, .glyphicon.glyphicon-remove, .glyphicon.glyphicon-ban-circle
{
    font-size: 22px;
}
</style>


<h1  class="page-header">Members</h1>



<div class="row">

    <div class="panel-fluid panel-default col-xs-11 col-sm-7">
              <!-- Default panel contents -->
         <div class="panel-heading">Member List</div>


            <!--<table id="member_table" class="table">-->
            <table  id="member_table" data-classes="table table-condensed table-no-bordered" class="table table-condensed"  data-filter-control="true" data-toggle="table"  data-sort-name="name" data-sort-order="asc" row-height="20" data-search="true"  data-show-columns="true" data-pagination="true" data-page-size="20"  data-page-list='[20, 50, 100, 200, 300, 500]'>


                    <thead>
                        <tr>
                        	<th data-field="name"  data-sortable="true" data-filter-control="input">Name</th>
                            <th data-field="status"  data-sortable="true" data-filter-control="select">Status</th>
                            <th data-field="loans"  data-sortable="true">Loans</th>
                            <th data-field="wed"  data-visible="false" data-sortable="true" data-filter-control="select">Wed</th>
                            <th data-field="sat"  data-visible="false" data-sortable="true" data-filter-control="select">Sat</th>
                            <th data-field="volunteer"  data-visible="false" data-sortable="true" data-filter-control="select">Active<br>Volunteer</th>
                            <th data-field="committee"  data-visible="false" data-sortable="true" data-filter-control="select">Committee<br>Member</th>
                       	</tr>
                    </thead>

                    {% for m in members %}

                    <tr>
                            <td>
                                <span class="hidden">{{ m.name }}</span>
                                <a  href="{% url 'toybox:members' member_id=m.id %}{{action}}">
                                    {{ m.name }}
                                </a>
                            </td>

                            <td class="text-center">
                                {% if m.is_current %}
                                <span class="label label-success label-as-badge">Valid</span>
                                {% else %}
                                <span class="label label-danger label-as-badge">Not Current</span>
                                {% endif %}
                            </td>


                           <td class="text-center">
                               {% spaceless %}
                                   {% if m.id not in loan_counts %}
                                        <span class="hidden">0</span>
                                        <a href="{% url 'toybox:returns' member_id=m.id %}">
                                            <span class="label label-default label-as-badge">0</span>
                                        </a>
                                   {%else%}
                                        {% for key, value in loan_counts.items %}
                                            {% if key == m.id %}
                                                    {% if m.id in loans_overdue %}
                                                        <span class="hidden">{{ value }}</span>
                                                        <a href="{% url 'toybox:returns' member_id=m.id %}">
                                                            <span class="label label-danger label-as-badge">{{ value }}</span>
                                                        </a>
                                                    {%else%}
                                                        <span class="hidden">0{{ value }}</span>
                                                        <a href="{% url 'toybox:returns' member_id=m.id %}">
                                                            <span class="label label-success label-as-badge">{{ value }}</span>
                                                        </a>
                                                    {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                   {%endif%}
                               {% endspaceless %}
                           </td>

                        <td class="text-center">
                            {% spaceless %}
                                {% if m.volunteer %}
                                    <span class="hidden">{{m.volunteer_capacity_wed}}</span>
                                    {% if m.volunteer_capacity_wed %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}
                                {% else %}
                                    <span class="hidden">Inactive</span>
                                    <span class="glyphicon glyphicon-ban-circle text-danger" aria-hidden="true" ></span>
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td class="text-center">
                             {% spaceless %}
                                {% if m.volunteer %}
                                    <span class="hidden">{{m.volunteer_capacity_sat}}</span>
                                    {% if m.volunteer_capacity_sat %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}
                                {% else %}
                                    <span class="hidden">Inactive</span>
                                    <span class="glyphicon glyphicon-ban-circle text-danger" aria-hidden="true" ></span>
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td class="text-center">
                             {% spaceless %}

                                    <span class="hidden">{{m.volunteer}}</span>
                                    {% if m.volunteer %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}

                            {% endspaceless %}
                        </td>
                        <td class="text-center">
                            {% spaceless %}
                                    <span class="hidden">{{m.committee_member}}</span>
                                    {% if m.committee_member %}
                                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span>
                                    {% endif %}
                            {% endspaceless %}
                        </td>
                       </tr>
                    {% endfor %}
            </table>
      </div>

     <div   class="col-xs-1" >

        <a href="{% url 'toybox:members' %}"><button title="Clear fields to add New Member" type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user " aria-hidden="true"></span></button></a>

    </div>


    <div class="panel-fluid panel-default col-xs-12 col-sm-4 " style="text-align: left; vertical-align: middle; ">
        <div class="panel-heading">Member Details</div>

        <form role="form" action="{{ request.get_full_path }}" class="form-group" method='post'>
            {% csrf_token %}
            <div class="fieldWrapper" >
            {% for field in member_details_form %}
                {{ field.label_tag }}

                {% render_field field class+="form-control" %}

                <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                    {% for error in field.errors  %}
                        <li><label class="label label-danger">{{ error|striptags }}</label></li>
                    {% endfor %}
                </ul>

            {% endfor %}

                <br>

                {%if member_detail_submit_button_label == "Add" %}
                    <button type="submit" name="add" class="btn btn-success form-control"><strong>Add</strong></button>
                {%else%}
                    <button type="submit" name="update" class="btn btn-success form-control"><strong>Update</strong></button>
                {%endif%}
            </div>
        </form>

    </div>


</div>

{% endblock content %}