{% load widget_tweaks %}
<span id="member_search">


<form role="search" action="{{ request.get_full_path }}" method='get'>
    {% csrf_token %}

    <div class="input-group ">
        <!--TODO remove Django rendered input line in form -->
        <!--<input name="member_name_fragment" type="text" class="form-control" placeholder="Member Name"-->
               <!--id="srch-term">-->
        {{member_search_form.member_name_fragment|add_class:"form-control"|attr:"placeholder:Member Name"}}


        <div class="input-group-btn">
            <button title="Search for Member" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>




</span>


<!--<head>-->
<!--<link rel="stylesheet" type="text/css" href="/static/toybox/tc.css">-->
<!--</head>-->
<!--<span id="member_search">-->
<!--<form action={{  request.get_full_path }} method='post'>-->
<!--{% csrf_token %}-->
<!--{{ member_search_form.member_name_fragment.label }}<br>-->
<!--{{ member_search_form.member_name_fragment }}-->
<!--<input type="image" src="/static/toybox/icons/search.svg" height="18" width="18" alt="Search"/>-->
<!--</form>-->

<!--{% if members %}-->
<!--{% for member in members %}-->
<!--<a href="{% url 'toybox:member_loan' member.id %}"> {{ member.name }} </a><br>-->
<!--{% endfor %}-->
<!--{% elif member_search_form.member_name_fragment != None %}-->
<!--<i>No matching members</i>-->
<!--{% endif %}-->
<!--</span>-->