{% load widget_tweaks %}

<!--Must filter by toy id-->
<!--supply history item-->

<span id="member_toy_history">
    {% if member_toy_history %}
    <div class="panel-default">
    <div class="panel-heading">Toy History</div>
     <table  data-classes="table table-condensed table-no-bordered"
             class="table table-condensed"
             data-toggle="table"
             data-filter-control="true"
             id="toy_history_table"
             data-sort-name="date_time"
             data-sort-order="desc"
             data-search="true"
             data-show-columns="true"
             data-pagination="true"
             data-page-size="20"
             data-page-list='[20, 50, 100, 200, 300, 500]'
             data-cookies="true"
             data-cookie-id-table="member_toy_history_table"
             data-show-export="true"
             data-export-types="['excel','csv']"
             data-show-pagination-switch="true"
             data-escape="false">

            <thead>
                <tr>
                    <th data-field="date_time" data-sortable="true" data-filter-control="datepicker" data-filter-datepicker-options='{"format":"dd/mm/yyyy", "autoclose":true, "clearBtn": true, "todayHighlight": true, "todayBtn": "linked",  "orientation": "bottom auto"}'>Date</th>
                    <th data-field="toyCode"  data-sortable="true" data-filter-control="input">Toy ID</th>
                    <th data-field="toyName"  data-sortable="true" data-filter-control="input">Toy Name</th>
                    <th data-field="event_type"  data-sortable="true"  data-filter-control="select">State</th>
                    <th data-field="issue_type"  data-visible="false" data-sortable="true"  data-filter-control="select">Issue</th>
                    <th data-field="issue_comment"  data-visible="false" data-sortable="true"  data-filter-control="input">Issue Comment</th>

                     <th data-field="volunteer"  data-visible="false" data-sortable="true" data-filter-control="input">Volunteer</th>
                    <th data-field="transaction"  data-visible="false" data-sortable="true" data-filter-control="input">Transaction ID</th>

                </tr>
            </thead>

            {% for event in member_toy_history %}
              <tr>
                    <td>
                        <span name='{{event.date_time|date:"Y/m/d H:i"}}'></span>
                        {{event.date_time|date:"d/m/Y H:i"}}
                    </td>
                    <td>{{event.toy.code}}</td>
                    <td>{{event.toy.name}}</td>
                    <td>{{event.get_event_type_display}}</td>
                    <td>{{event.get_issue_type_display}}</td>
                    <td>{{event.issue_comment}}</td>
                    <td>{{event.volunteer_reporting}}</td>
                    <td>{{event.transaction.id}}</td>
              </tr>
            {% endfor %}

            </table>
        </div>
        {% endif %}
</span>

<script>


$(document).ready(function() {
var $table = $('#member_toy_history_table');
$table.bootstrapTable('refreshOptions', {
    exportOptions: {
        onCellHtmlData: DoOnCellHtmlData
    }
});
});
</script>