 <span id="member_edit_popup">



  <div class="modal" id="memberEditPopupModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" >

        <div class="modal-dialog" style="width: 800px;" >
            <div class="modal-content">

                <form role="form" action="{{ request.get_full_path }}" class="form-group" id="memberForm" method='post' onsubmit="postMember(this);">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" >Member Details</h3>

                        <button type="submit" data-dismiss="modal" onclick="postMember(event);" name="commit"  class="btn btn-success" title="Commit changes to the database"><strong>Commit</strong></button>
                        <button name="cancel" type="button" data-dismiss="modal" class="btn btn-default" >Dismiss</button>

                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div id="member_edit_container" class="panel-fluid panel-default col-xs-12">
                                {% include "toybox/member_edit.html" %}
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">


                        <button type="submit" name="commit" data-dismiss="modal" onclick="postMember(event);" class="btn btn-success" title="Commit changes to the database"><strong>Commit</strong></button>
                        <button name="cancel" type="button" data-dismiss="modal" class="btn btn-default" >Dismiss</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $( document ).ready(function()
        {

            $(window).load(function()
            {
                $('#memberEditPopupModal').modal('hide');
            });

            $('#update').click(function(e)
            {
                e.preventDefault();

            });

        });



        function postMember(e)
        {
            e.preventDefault();


            $.ajaxSetup({
                            beforeSend: function(xhr, settings)
                            {
                             function getCookie(name)
                             {
                                 var cookieValue = null;
                                 if (document.cookie && document.cookie != '') {
                                     var cookies = document.cookie.split(';');
                                     for (var i = 0; i < cookies.length; i++) {
                                         var cookie = jQuery.trim(cookies[i]);
                                         // Does this cookie string begin with the name we want?
                                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                             break;
                                         }
                                     }
                                 }
                                 return cookieValue;
                             }
                             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                 // Only send the token to relative URLs i.e. locally.
                                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                             }
                           }
                        });



            var postURL = '{{ request.get_full_path }}';

            var form = $("#memberForm");
            var formData = new FormData(form[0]);
            formData.append('member_id',$("#member_edit").attr("member_id"));

            $.ajax(
            {
                   type: "POST",
                   url: postURL,
                   data: formData,
                   mimeType: "multipart/form-data",
                   contentType: false,
                   cache: false,
                   processData: false

            })
            .done(function(response)
            {
                console.log("success");
                window.location.reload(false);
            })
            .fail(function()
            {
                console.log("fail");
                window.location.reload(false);
            })

        }



        function getMemberDetails(element)
        {
            $.ajax(
            {
                type: "GET",
                url: "{{ request.get_full_path }}"+"?member_edit_id="+element.value,
                success: function(data)
                {
                    document.getElementById("member_edit_container").innerHTML=data;
                    //document.getElementById("member_edit").innerHTML=data;
                    $('#memberEditPopupModal').modal('show');
                }
            });
         }

    </script>

</span>