{% load widget_tweaks %}
<div id="member_search">

<form id="member_search_form" role="search" action="{{ return_page }}" method='get'>

    {% csrf_token %}

    <div class="input-group ">

        {% render_field member_search_form.member_name_fragment class+="form-control" placeholder=member_search_form.member_name_fragment.label %}

        <span class="input-group-btn">
            <button title="Search for Member" class="btn btn-default " type="submit" ><span class="glyphicon glyphicon-search"></span></button>
        </span>

    </div>

     <ul  style="list-style-type:none;list-style:none;padding-left:0;">
            {% for error in member_search_form.member_name_fragment.errors  %}
                <li><label class="label label-danger">{{ error|striptags }}</label></li>
            {% endfor %}
     </ul>

</form>




</div>


<script>

$('#member_search_form').submit(
function()
{
    if ("{{request.session.page_leave_check}}"=="True")
        return confirm("Are you sure you want to cancel the previous transaction?\nPress OK to continue with new transaction");
    else
        return true;
});

window.onbeforeunload = function (e) {

if ("{{request.session.page_leave_check}}"=="True")
{
  var message = "Are you sure you want to cancel the previous transaction?\nPress OK to continue with new transaction",
  e = e || window.event;

  if (e)
  {
    e.returnValue = message;
  }

  // For Safari
  return message;
  }
};


</script>