<!--
inputs:
Member_status - boolean (true for valid, false for overdue)
Member_balance - decimal
issue_list - Dict for report issue, "issue":string and "value":integer pairs
toys_borrowed - Tuples of Dict: "ID":string, "name":string, "due_in":integer, "issue":integer
-->


{% extends "toybox/base.html" %}
{% load templatetags %}
{% load widget_tweaks %}
{% block content %}

 {% include "toybox/change_fee.html" %}

<h1 class="page-header">Return Toy</h1>

<div class="row">
    <div class="col-xs-12 col-sm-10 ">
        {% include "toybox/member_search.html" with return_page="/toybox/returns" %}
        {% include "toybox/member_search_select.html" with return_page="/toybox/returns"%}
    </div>
</div>

<div class="row" style="margin-left: 10px;">
    <div class="col-xs-12 col-sm-10 ">
        <br>
        {% include "toybox/member_summary.html" %}
        <br>
    </div>
</div>


<form role="form" action="{{ request.get_full_path }}" class="form-group" method='post'>
    {% csrf_token %}
    <div class="row">
        <div class="panel-fluid panel-default col-xs-12 col-sm-10 ">
            <!-- Default panel contents -->
            <div class="panel-heading">Borrowed Toys</div>

            <!-- Table -->
            <table id="toy_table" class="table">

                <thead>
                <tr>
                    <th>Details</th>
                    <th>Toy ID</th>
                    <th>Toy Name</th>
                    <th>Due</th>
                    <th id="fee">Fee</th>
                    <th id="returned">Returned</th>
                    <th>Report Issue</th>

                </tr>
                </thead>

                {% for toy in toy_list %}
                <tr>
                    <td>
                           <button type="button" class="btn" data-toggle="collapse" data-target="#accordion_{{toy.id}}" ><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </td>

                    <td>
                        <a href="{% url 'toybox:toys' toy_id=toy.id %}">{{ toy.code }}</a>
                    </td>

                    <td>
                        {{ toy.name }}
                    </td>

                    <!--TODO add issue fee-->
                    <td>
                        <span class="label {% if toy.due_date|timebetween|slice:':1' == '-' %} label-danger {%else%} label-success {%endif%} label-as-badge">{{ toy.due_date|timebetween }}</span>
                    </td>

                    {% if toy.due_date|timebetween|slice:':1' == '-' %}
                    <td value="{{ toy.loan_type.overdue_fine|floatformat:2 }}">
                        ${{ toy.loan_type.overdue_fine|floatformat:2 }}
                    </td>
                    {%else%}
                    <td value="0.00">
                        $0.00
                    </td>
                    {%endif%}

                    <td style="text-align: center;vertical-align: middle;">
                        {% form_field_concat returns_form "returned_checkbox_" toy.id class="form-control" onclick="handleCheckbox(this)"%}
                        <!--<input type="checkbox" name="returned_checkbox_{{ toy.code }}" value="{{ toy.code }}" id="returned_checkbox_{{ toy.code }}" onclick="handleCheckbox(this);"/>-->
                    </td>

                    <td>
                        {% form_field_concat returns_form "issue_type_" toy.id class="form-control"%}

                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="border-top: none !important;">
                         {% form_field_concat returns_form "issue_comment_" toy.id class="form-control" placeholder="Issue comments"%}

                    </td>
                </tr>

                 <tr>
                        <td colspan="7" style="border-top: none !important;">
                            <div id="accordion_{{toy.id}}" class="collapse">
                                 {% include "toybox/toy_summary.html" %}

                            </div>
                        </td>
                    </tr>



                {% endfor %}
            </table>
        </div>

    </div>



    {% for field in returns_form %}
        {%if field.field.widget.attrs.visible%}

         <div class="row col-xs-12 col-sm-10 " style=" min-height: 50px;" >

             {% if field.field.widget.attrs.hr %} <hr> {%endif%}

            <div class="input-group">
                <span class="input-group-addon">{{field.label_tag|striptags}} $</span>
                {% render_field field class+="form-control" id=field.auto_id oninput="CalcTotal()" %}

                 {% if field.field.widget.attrs.adjust_button %}
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" name="{{field.auto_id}}_adjust" data-toggle="modal" onclick='changeFee("{{field.auto_id}}");' data-target="#feeChangeModal">Adjust</button>
                   </span>
                {% endif %}

                {% if field.field.widget.attrs.done_button %}
                   <span class="input-group-btn">
                       <button class="btn btn-default" id="btn_done" name="done" type="submit" >Done</button>
                   </span>
                {% endif %}
                </div>

                 <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                {% for error in field.errors  %}
                    <li><label class="label label-danger">{{ error|striptags }}</label></li>
                {% endfor %}
                </ul>
             </div>

        {% endif %}

    {% endfor %}

</form>

<script>

    $( document ).ready(function()
    {
        CalcTotal();
    });


    function handleCheckbox(cb)
    {
        var table = document.getElementById("toy_table");
        var total= 0.0;
        var checkboxCol=document.getElementById("returned").cellIndex;
        var feeCol=document.getElementById("fee").cellIndex;

        console.log(total);

        for (var i = 1, row; row = table.rows[i]; i++)
        {
            if (row.cells.length>checkboxCol)
            {
                if (row.cells[checkboxCol].getElementsByTagName('input')[0].checked)
                {
                    total+=parseFloat(row.cells[feeCol].getAttribute("value"));
                }
            }
        }
        document.getElementById("id_late_fee").value=total.toFixed(2);
        CalcTotal();
    }

    function CalcTotal()
    {
        var late_fee=Number(document.getElementById("id_late_fee").value);

        var issue_fee=Number(document.getElementById("id_issue_fee").value);
        console.log(issue_fee);
        var total=late_fee+issue_fee;

        document.getElementById("id_total").value=total.toFixed(2);
    }

</script>



{% endblock content %}
