<!--
inputs:
Member_status - boolean (true for valid, false for overdue)
Member_balance - decimal
issue_list - Dict for report issue, "issue":string and "value":integer pairs
toys_borrowed - Tuples of Dict: "ID":string, "name":string, "due_in":integer, "issue":integer
-->


{% extends "toybox/base.html" %}
{% load templatetags %}
{% load widget_tweaks %}
{% block content %}

 {% include "toybox/change_fee.html" %}

<h1 class="page-header">Return Toy</h1>

<div class="row">
    <div class="col-xs-12 col-sm-10 ">
        {% include "toybox/member_search.html" with return_page="/toybox/returns" %}
        {% include "toybox/member_search_select.html" with return_page="/toybox/returns"%}
    </div>
</div>

<div class="row" style="margin-left: 10px;">
    <div class="col-xs-12 col-sm-10 ">
        <br>
        {% include "toybox/member_summary.html" %}
        <br>
    </div>

</div>



<form role="form" action="{{ request.get_full_path }}" class="form-group" method='post'>
    {% csrf_token %}
    <div class="row">
        <div class="panel-fluid panel-default col-xs-12 col-sm-10 ">
            <!-- Default panel contents -->
            <div class="panel-heading">Borrowed Toys</div>

            <!-- Table -->
            <table id="toy_table" class="table">

                <thead>
                <tr>
                    <th>Details</th>
                    <th>Toy ID</th>
                    <th>Toy Name</th>
                    <th>Due</th>
                    <th style="text-align: center;">Returned</th>

                    {% if loan_bond_enable == "true" %}
                    <th style="text-align: center;">Bond</th>
                    {%endif%}

                    <th style="text-align: center;">Late Fee</th>
                    <th style="text-align: center;">Issue Fee</th>

                    <th>Report Issue</th>

                </tr>
                </thead>

                {% for toy in toy_list %}
                <tr>
                    <td>
                           <button type="button" class="btn" data-toggle="collapse" data-target="#accordion_{{toy.id}}" ><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </td>

                    <td>
                        <a href="{% url 'toybox:toys' toy_id=toy.id %}">{{ toy.code }}</a>
                        <span class="hidden" id="issue_fines_{{toy.id}}" issue_fine_major="{{toy.issue_fine_major}}" issue_fine_minor="{{toy.issue_fine_minor}}" issue_fine_allocation="{{toy.issue_fine_allocation}}"></span>

                    </td>

                    <td>
                        {{ toy.name }}
                    </td>


                    <td>
                        <span class="label {% if toy.due_date|timebetween|slice:':1' == '-' %} label-danger {%else%} label-success {%endif%} label-as-badge">{{ toy.due_date|timebetween }}</span>
                         {% if toy.state == toy.BEING_REPAIRED %}
                        <span class="label label-danger label-as-badge">Being Repaired</span>
                        {%endif%}
                    </td>

                     <td style="text-align: center;vertical-align: middle;">
                        {% form_field_concat_id returns_form "returned_checkbox_" toy.id name="returned_checkbox_^suffix^" class="form-control" onclick="handleCheckbox();"%}
                    </td>

                     <td style="text-align: center;vertical-align: middle;">
                         {% if toy.state == toy.BEING_REPAIRED %}
                             <span name="loan_bond" id="loan_bond_{{toy.id}}" value="0.00" >$0.00</span>
                         {%else%}
                            <span name="loan_bond" id="loan_bond_{{toy.id}}" value="{{toy.loan_bond|floatformat:2}}" >${{toy.loan_bond|floatformat:2}}</span>
                         {%endif%}

                    </td>

                    {% if toy.due_date|timebetween|slice:':1' == '-' %}
                    <td style="text-align: center;vertical-align: middle;" >
                        <span name="toy_fine" id="toy_fine_{{toy.id}}" toy_id="{{toy.id}}" value="{{toy.fine|floatformat:2}}" >${{toy.fine|floatformat:2}}</span>
                    </td>
                    {%else%}
                    <td style="text-align: center;vertical-align: middle;">
                         <span name="toy_fine" id="toy_fine_{{toy.id}}" toy_id="{{toy.id}}" value="0.00" >$0.00</span>
                    </td>
                    {%endif%}

                     <td id="issue_fee_{{toy.id}}" style="text-align: center;vertical-align: middle;">
                        $0.00
                    </td>





                    <td>
                        {% form_field_concat_id returns_form "issue_type_" toy.id name="issue_type_^suffix^"   class="form-control" onchange="handleCheckbox();"%}

                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="border-top: none !important;">
                         {% form_field_concat returns_form "issue_comment_" toy.id class="form-control" placeholder="Issue comments"%}

                    </td>
                </tr>

                 <tr>
                        <td colspan="9" style="border-top: none !important;">
                            <div id="accordion_{{toy.id}}" class="collapse">
                                 {% include "toybox/toy_summary.html" %}

                            </div>
                        </td>
                    </tr>



                {% endfor %}
            </table>
        </div>

    </div>



    {% for field in returns_form %}
        {%if field.field.widget.attrs.enabled%}
        <div class="row">
         <div class="col-xs-12 col-sm-10 " style=" min-height: 50px;" >

             {% if field.field.widget.attrs.hr %} <hr> {%endif%}

            <div class="input-group">
                <span class="input-group-addon">{{field.label_tag|striptags}} $</span>
                {% render_field field class+="form-control" id=field.auto_id oninput="CalcTotal();" %}

                 {% if field.field.widget.attrs.adjust_button %}
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" name="{{field.auto_id}}_adjust" data-toggle="modal" onclick='changeFee("{{field.auto_id}}");' data-target="#feeChangeModal">Adjust</button>
                   </span>
                {% endif %}

                {% if field.field.widget.attrs.done_button %}
                   <span class="input-group-btn">
                       <button class="btn btn-default" id="btn_done" name="done" type="submit" >Done</button>
                   </span>
                {% endif %}
                </div>

                 <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                {% for error in field.errors  %}
                    <li><label class="label label-danger">{{ error|striptags }}</label></li>
                {% endfor %}
                </ul>
             </div>
           </div>
        {% endif %}

    {% endfor %}

</form>

<script>

    $( document ).ready(function()
    {
        CalcTotal();

    });


    function handleCheckbox()
    {
        var total_bond_return=0.0;
        var total_fine= 0.0;
        var total_issue_fine=0.0;

        //console.log(total);


        //TODO change to jquery and total up bond refund.

        $("span[name='toy_fine']","#toy_table").each(function()
        {
            var toy_id=this.getAttribute("toy_id");
            var returned_checkbox=document.getElementById("returned_checkbox_"+toy_id);
            var bond_return=document.getElementById("loan_bond_"+toy_id);
            var issue_type=document.getElementById("issue_type_"+toy_id);
            var issue_fines=document.getElementById("issue_fines_"+toy_id);
            var fine=0.0;
            var issue_fee=document.getElementById("issue_fee_"+toy_id);

            console.log("-----------------");
           // console.log("CB: "+returned_checkbox);
           // console.log("BOND: "+bond_return);
           // console.log("ID: "+toy_id);
           // console.log("Issue #: "+issue_type.value);
           // console.log("minor: "+issue_fines.getAttribute("issue_fine_minor"));
           // console.log("major: "+issue_fines.getAttribute("issue_fine_major"));
           // console.log("allocation: "+issue_fines.getAttribute("issue_fine_allocation"));
           // console.log("result: "+issue_fines.getAttribute("issue_fine_allocation")[issue_type.value]);

            if (returned_checkbox!=null)
            {
                if (returned_checkbox.checked)
                {
                   total_fine+=parseFloat(this.getAttribute("value"));
                   if (total_bond_return!=null)
                      total_bond_return+=parseFloat(bond_return.getAttribute("value"));

                   var fine_type=issue_fines.getAttribute("issue_fine_allocation")[issue_type.value];

                   if (fine_type=="2")
                        fine=Number(issue_fines.getAttribute("issue_fine_major"));
                   else if (fine_type=="1")
                        fine=Number(issue_fines.getAttribute("issue_fine_minor"));
                   else
                        fine=0;

                   issue_fee.innerHTML="$"+fine.toFixed(2);

                   total_issue_fine+=fine;

                  //console.log("fine type: "+fine_type);
                  //console.log("fine = "+fine);
                  //console.log("total = "+total_issue_fine);
                }
            }

        });

        document.getElementById("id_late_fee").value=total_fine.toFixed(2);
        document.getElementById("id_loan_bond_refund").value=total_bond_return.toFixed(2);
        document.getElementById("id_issue_fee").value=total_issue_fine.toFixed(2);
        CalcTotal();
    }

    function CalcTotal()
    {
        var late_fee=Number(document.getElementById("id_late_fee").value);
        var issue_fee=Number(document.getElementById("id_issue_fee").value);
        var total=late_fee+issue_fee;

        document.getElementById("id_total").value=total.toFixed(2);
    }

    //function calcFine(element)
   // {
        //console.log(element.value);

     //   $("select[name='issue_type_select']").each(
    //    function()
    //    {
    //        console.log(this.value);

    //    });
  //  }


</script>



{% endblock content %}
