<!--
inputs:
Member_status - boolean (true for valid, false for overdue)
Member_balance - decimal
issue_list - Dict for report issue, "issue":string and "value":integer pairs
toys_borrowed - Tuples of Dict: "ID":string, "name":string, "due_in":integer, "issue":integer
-->


{% extends "toybox/base.html" %}
{% load templatetags %}
{% block content %}


<h1 class="page-header">Return Toy</h1>

<div class="row">
    <div class="col-xs-12 col-sm-10 ">
        {% include "toybox/member_search.html" with return_page="/toybox/returns" %}
        {% include "toybox/member_search_select.html" with return_page="/toybox/returns"%}
    </div>
</div>

<div class="row" style="margin-left: 10px;">
    <div class="col-xs-12 col-sm-10 ">
        <br>
        {% include "toybox/member_summary.html" %}
        <br>
    </div>
</div>

<!--{% if toy %}-->
<!--<div class="row">-->

        <!--{% include "toybox/toy_summary.html" %}-->

<!--</div>-->
<!--{%else%}-->
<!--<div class="row panel-fluid panel-default"></div>-->
<!--{% endif %}-->

<form role="form" action="{{ request.get_full_path }}" class="form-group" method='post'>
    {% csrf_token %}
    <div class="row">
        <div class="panel-fluid panel-default col-xs-12 col-sm-10 ">
            <!-- Default panel contents -->
            <div class="panel-heading">Borrowed Toys</div>

            <!-- Table -->
            <table id="toy_table" class="table">

                <thead>
                <tr>
                    <th>Details</th>
                    <th>Toy ID</th>
                    <th>Toy Name</th>
                    <th>Due</th>
                    <th id="fee">Fee</th>
                    <th id="returned">Returned</th>
                    <th>Report Issue</th>

                </tr>
                </thead>

                {% for toy in toy_list %}
                <tr>
                    <td>
                           <button type="button" class="btn" data-toggle="collapse" data-target="#accordion_{{toy.code}}" ><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </td>

                    <td>
                        <a href="{% url 'toybox:returns' %}{{member.id}}/?tc={{toy.code}}">{{ toy.code }}</a>
                    </td>

                    <td>
                        {{ toy.description }}
                    </td>

                    <!--TODO add issue fee to overdue fee-->
                    <td>
                        <span class="label {% if toy.due_date|timebetween|slice:':1' == '-' %} label-danger {%else%} label-success {%endif%} label-as-badge">{{ toy.due_date|timebetween }}</span>
                    </td>

                    {% if toy.due_date|timebetween|slice:':1' == '-' %}
                    <td value="{{ toy.loan_type.overdue_fine|floatformat:2 }}">
                        ${{ toy.loan_type.overdue_fine|floatformat:2 }}
                    </td>
                    {%else%}
                    <td value="0.00">
                        $0.00
                    </td>
                    {%endif%}

                    <td style="text-align: center;vertical-align: middle;">
                        <input type="checkbox" name="returned_checkbox_{{ toy.code }}" value="{{ toy.code }}" id="returned_checkbox_{{ toy.code }}" onclick="handleCheckbox(this);"/>
                    </td>

                    <td>
                        <!--<div class="selectContainer">-->
                        <select class="form-control" name="issue_{{ toy.code }}">
                            {% for issue in issue_list %}
                            <option value="{{ issue.0 }}" {% if toy.issue_type == issue.0 %}selected{% endif %}>
                                {{issue.1}}
                            </option>
                            {% endfor %}
                        </select>
                        <!--</div>-->
                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="border-top: none !important;">
                        <input class="form-control" name="comment_{{ toy.code }}" placeholder="Issue comments for {{toy.code}}" href="#">
                    </td>
                </tr>
                <tr>
                        <td colspan="7" style="border-top: none !important;">
                            <div id="accordion_{{toy.code}}" class="collapse">
                                 {% include "toybox/toy_summary.html" %}

                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>

    </div>


    <div class="row">
        <div class="input-group col-xs-12 col-sm-10 ">
            <span class="input-group-addon">Fee Due $</span>
            <input type="text" id="fee_due" class="form-control" name="fee_due" aria-label="Amount ">
               <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Done</button>
               </span>
        </div>
    </div>
</form>

<script>
    function handleCheckbox(cb)
    {
        var table = document.getElementById("toy_table");
        var total= 0.0;
        var checkboxCol=document.getElementById("returned").cellIndex;
        var feeCol=document.getElementById("fee").cellIndex;

        for (var i = 1, row; row = table.rows[i]; i++)
        {
            if (row.cells.length>checkboxCol)
            {
                if (row.cells[checkboxCol].getElementsByTagName('input')[0].checked)
                {
                    total+=parseFloat(row.cells[feeCol].getAttribute("value"));
                }
            }
        }
        document.getElementById("fee_due").value=total.toFixed(2);
    }

</script>

{{returns_form}}
{{fee_due_form}}

{% endblock content %}
