{% load widget_tweaks %}

<span id="set_shift_volunteers">

  <div class="modal" id="setShift" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <form  action="{{ request.get_full_path }}"  method='post'>

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Set Shift Volunteers</h3>
                </div>

                <br>

                {%if shift_form %}
                <div class="form-group">
                    <div class="row">
                        <div   class="col-xs-1 col-sm-1 "></div>
                        <div   class="col-xs-9 col-sm-9 selectContainer">
                            {% render_field shift_form.members class+="form-control"%}
                        </div>
                        <div   class="col-xs-1" >
                            <button title="Add Volunteer" type="submit" class="btn btn-success" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus " aria-hidden="true"></span><span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                {%endif%}

                <br>

                 {% if shift %}
                    <form role="form" method="post">
                        {% csrf_token %}
                       <ul class="list-group">

                            {% for volunteer in shift %}
                                <div class="list-group-item">

                                    <button name="remove_volunteer" title="Remove this volunteer from this shift" type="button" class="btn"  >
                                        <span class="glyphicon glyphicon-trash " aria-hidden="true" ></span>
                                    </button>
                                    &nbsp{{volunteer.member.name}}
                                </div>
                            {% endfor %}
                         </ul>
                    </form>

                    {% endif %}



                <div class="modal-footer">
                    <input type="submit" name="till_set" class="btn btn-primary" value="Done">
                    <button name="cancel" type="submit" class="btn btn-default" >Dismiss</button>
                </div>

            </div>
        </div>

      </form>
    </div>

     <script type="text/javascript">

        $( document ).ready(function()
        {
            $(window).load(function(){
                $('#setShift').modal('show');
            });
        });

    </script>

</span>