<span id="toy_summary">

    {% if toy %}

        <div class="row">

            <div class="panel-fluid panel-default col-xs-12 col-sm-6 " style="text-align: left; vertical-align: middle; ">



                <div class="panel-default">
                <div class="panel-heading">Toy Details  ID: {{ toy.code }}</div>
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{toy.name}}</td>
                      </tr>

                      <tr>
                         <td>State</td>
                         <td>
                              {% if toy.state != toy.AVAILABLE %}
                               <span class="label label-danger label-as-badge"> {{toy.get_state_display}}</span>
                              {%else%}
                                  <span class="label label-success label-as-badge"> {{toy.get_state_display}}</span>
                              {%endif%}
                          </td>
                      </tr>

                      <tr>
                        <td>Issue</td>

                          <td>
                              {% if toy.issue_type != toy.ISSUE_NONE %}
                               <span class="label label-danger label-as-badge"> {{toy.get_issue_type_display}}</span>
                              {%else%}
                                  {{toy.get_issue_type_display}}
                              {%endif%}
                          </td>
                      </tr>

                      <tr>
                        <td>Issue Comment</td>
                        <td>{{toy.issue_comment}}</td>
                      </tr>

                      <tr>
                        <td>Borrowed By</td>
                        <td>
                            <a {%if toy.member_loaned %} href="{% url 'toybox:members' toy.member_loaned.id %}" {%endif%}>
                                {{toy.member_loaned.name}}
                            </a>
                        </td>
                      </tr>

                      <tr>
                        <td>Comment</td>
                        <td>{% if toy.comment %}<strong>{{toy.comment}}</strong>{%endif%}</td>
                      </tr>


                      <tr>
                        <td>Category</td>
                        <td>{{toy.category}}</td>
                      </tr>

                      <tr>
                        <td>Total Weeks Borrowed</td>
                        <td>{{toy.borrow_counter}}</td>
                      </tr>


                      <tr>
                        <td>Min age</td>
                        <td>{{toy.min_age}}</td>
                      </tr>

                      <tr>
                        <td>Brand</td>
                        <td>{{ toy.brand }}</td>
                      </tr>

                      <tr>
                        <td>Number of Pieces</td>
                        <td>{{ toy.num_pieces }}</td>
                      </tr>

                      <tr>
                        <td>Pieces List</td>
                        <td>{{ toy.parts_list }}</td>
                      </tr>

                      <tr>
                        <td>Packaging</td>
                        <td>{{ toy.packaging }}</td>
                      </tr>

                      <tr>
                        <td>Weekly Fee</td>
                        <td>${{ toy.loan_cost|floatformat:2 }}</td>
                      </tr>

                      {%if loan_bond_enable == 'true' %}
                      <tr>
                        <td>Bond</td>
                        <td>${{ toy.loan_bond|floatformat:2 }}</td>
                      </tr>
                      {%endif%}

                       <tr>
                        <td>Purchase Cost</td>
                         <td>{%if toy.purchase_cost%}${%endif%}{{toy.purchase_cost|floatformat:2}}</td>
                      </tr>

                      <tr>
                        <td>Earned back cost?</td>
                        <td>{% if toy.earned_back_cost %}Yes {%else%}No {%endif%} (${{toy.earned|floatformat:2}})</td>
                      </tr>


                      <tr>
                        <td>Purchase Date</td>
                         <td>{{toy.purchase_date|date:"d/m/Y"}}</td>
                      </tr>





                    </tbody>
                  </table>
                </div>

            </div>



                <p style="float:left;text-align:left;max-width:350px;">

                   <a  href="{{ MEDIA_URL }}{{ toy.image.file }}">
                      <img class="img-thumbnail"  style="margin-bottom: 20px; margin-left:20px;image-orientation:from-image; " src="{{ MEDIA_URL }}{{ toy.image.file }}">
                   </a>

                   <br>
                    {% if toy.image_receipt.file %}
                        <a  style="margin-left:20px;" href="{{ MEDIA_URL }}{{ toy.image_receipt.file }}">Receipt Image</a>
                    {%else%}
                         <span style="margin-left:20px;" class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span> Receipt Image
                    {%endif%}
                   <br>
                   <br>
                    {% if toy.image_instructions.file %}
                        <a style="margin-left:20px;" href="{{ MEDIA_URL }}{{ toy.image_instructions.file }}">Instructions Image</a>
                    {%else%}
                         <span style="margin-left:20px;" class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span> Instructions Image
                    {%endif%}

                </p>
        </div>

     {% endif %}

</span>

<script>
    function getToy(element)
{
    $.ajax(
    {
        type: "GET",
        url: "{{ request.get_full_path }}"+"?toy_id="+element.value,
        success: function(data)
        {
            document.getElementById("toy_summary").innerHTML=data;
            $('#toyPopupModal').modal('show');
        }
    });
 }
</script>