<!--<head>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/toybox/tc.css">-->
<!--</head>-->
<span id="toy_summary">
    {% if toy %}
    <!--TODO populate member link-->
    <a href="#"><p align="right"><strong>Toy ID: {{ toy.code }}</strong></p></a>
    <p align="right">Description: {{ toy.description }}</p>
    <p align="right">Brand: {{ toy.brand }}</p>
    <p align="right">Number of Pieces: {{ toy.num_pieces }}</p>
    <p align="right"> Packaging: {{ toy.packaging }}</p>
    <p align="right">Loan Type: {{ toy.loan_type }}</p>
    {% else %}
        <!--<h3><i>select toy</i></h3>-->
    <br><br><br><br>
    {% endif %}

</span>

