{% extends "toybox/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load templatetags %}

{% include "toybox/toy_summary_popup.html" %}
{% include "toybox/member_summary_popup.html"%}

<span id="transactions">

<h1  class="page-header">{{title}}</h1>


<form id="transaction_form" role="form" action="{{ request.get_full_path }}" class="form-group" method='post'>
    {% csrf_token %}

     <div class="row panel-default col-xs-12 col-sm-11 ">

         {%if transaction_form %}
            <div class="panel-heading">Actions</div>


         {% for field in transaction_form%}
              <br>
                {% if field.field.widget.attrs.hr %}
                    <hr>
                 {%endif%}

                <div class=" input-group" >
                    <span class="input-group-addon">{{field.label_tag|striptags}}</span>
                    {% render_field field class+="form-control" id=field.auto_id %}

                    <span class="input-group-btn">
                        {% for key, value in field.field.widget.attrs.items %}
                            {% if "button" in key %}
                                <button type="submit" class="btn btn-default" value="{{key}}" name="{{key}}"  >{{value}}</button>
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>


                 <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                {% for error in field.errors  %}
                    <li><label class="label label-danger">{{ error|striptags }}</label></li>
                {% endfor %}
                </ul>
            {% endfor %}
         {%endif%}
     </div>




    {% if totals_form %}
    <div class="row panel-default col-xs-12 col-sm-11 ">

            <div class="panel-heading">Day Totals</div>
            <br>

                <div class="input-group">
                    <span class="input-group-addon" id="label_{{totals_form.query_date.auto_id}}">{{totals_form.query_date.label_tag|striptags}}</span>
                    {% render_field totals_form.query_date class+="form-control" id="query_date"%}
                </div>

                <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                {% for error in totals_form.query_date.errors  %}
                    <li><label class="label label-danger">{{ error|striptags }}</label></li>
                {% endfor %}
                </ul>

                {%if not totals and query_date %}
                    <label class="label label-danger">No results</label>
                    <br>
                {%endif%}

                <br>

        </div>
                {%if totals %}




        <div class="row panel-default col-xs-12 col-sm-5 ">


                <table class="table table-bordered">
                    <tr>
                        <td><B>Till Start</B></td>
                        <td>
                            ${{till_start|floatformat:2}}
                        </td>
                    </tr>
                    <tr>
                        <td><B>Till End</B></td>
                        <td>
                            ${{till_end|floatformat:2}}
                        </td>
                    </tr>
                    <tr>
                        <td><B>Till Takings</B></td>
                        <td>
                            ${{total_takings|floatformat:2}}
                        </td>
                    </tr>

                </table>

        </div>


        <div class="row panel-default col-xs-12 col-sm-11 ">

                <table  id="totals_table"
                    data-show-export="true"
                    data-export-types="['excel','csv']"
                    data-classes="table table-condensed table-no-bordered"
                    class="table table-condensed"
                    data-toggle="table"
                    data-show-columns="true">

                    <thead>
                    <tr>
                        {%for item in headings%}
                            <th data-field="{{item|replace_spaces}}">{{item}}</th>
                        {%endfor%}
                    </tr>
                    </thead>
                    <tr >
                        <td><b>Daily Total</b></td>
                        {%for item in totals%}
                            <td><b>${{item}}</b></td>
                        {%endfor%}
                    </tr>


                    {% for row in fees %}
                    <tr>

                        {%for item in row%}
                        <td>
                            {% if item != None %}
                                {%if item|floatformat:2 = ""%}
                                    {{item}}
                                {%else%}
                                    ${{item|floatformat:2}}
                                {%endif%}
                            {%else%}
                            -
                            {%endif%}

                        </td>
                        {% endfor%}

                    </tr>
                    {% endfor %}


                </table>


                {%endif%}
            <br>
        </div>

    {%endif%}

</form>




    <div class="row col-xs-12 col-sm-11 " style=" min-height: 40px;"  >
        <div class="panel-default">
            <div class="panel-heading">Transaction History</div>
     <table  data-classes="table table-condensed table-no-bordered"
             data-toggle="table"
             data-filter-control="true"
             id="transaction_table"
             data-sort-name="id"
             data-sort-order="desc"
             data-show-columns="true"
             data-page-size="20"
             data-page-list='[20, 50, 100, 200, 300, 500]'
             data-show-pagination-switch="true"
             data-show-export="true"
             data-export-types="['excel','csv']"
             data-escape="false"
             data-cookie="true"
             data-cookie-id-table="transaction_table"
             data-url="{{ request.get_full_path }}"
             data-pagination="true"
             data-side-pagination="server">


             <thead>
                <tr>
                    <th data-field="id" data-filter-control="input" data-sortable="true">ID</th>
                    <th data-field="date_time" data-sortable="true"  data-filter-control="datepicker" data-filter-datepicker-options='{"format":"dd/mm/yy", "autoclose":true, "clearBtn": true, "todayHighlight": true, "todayBtn": "linked",  "orientation": "bottom auto"}'>Date</th>
                    <th data-field="transaction_type"  data-sortable="true" data-filter-control="select" data-filter-data="url:{{ request.get_full_path }}?filter_data=transaction_type">Type</th>
                    <th data-field="member_id"  data-sortable="true" data-filter-control="input">Member</th>
                    <th data-field="toys" >Toys</th>
                    <th data-field="volunteer_reporting"  data-sortable="true" data-filter-control="input">Volunteer</th>
                    <th data-field="amount" data-sortable="true"  >Amount</th>
                    <th data-field="balance" data-sortable="true">Balance</th>
                    <th data-field="comment"  data-filter-control="input" data-sortable="true">Comment</th>
                    <th data-field="complete" data-visible="false"  data-filter-control="select" data-sortable="true" data-filter-data="url:{{ request.get_full_path }}?filter_data=complete">Complete</th>
                </tr>
            </thead>


        </table>
    </div>
</div>


</span>

<script>

$(function () {
        $('#query_date').datepicker({
        format: "dd/mm/yyyy",
        endDate: "{{totals_form.query_date.value|date:"d/m/Y"}}",
        todayBtn: true,
        todayHighlight: true,
        autoclose:true,
        clearBtn:true

    });
});


$(document).ready(function()
{

    $('#query_date').datepicker()
        .on
        ('changeDate',function(event)
            {
                $( "#transaction_form" ).submit();
            }
        );

    var $table = $('#transaction_table');
    $table.bootstrapTable('refreshOptions',
    {
        exportOptions:
        {
            onCellHtmlData: DoOnCellHtmlData
        }
    });
});

</script>


{% endblock content %}
