{% extends "toybox/base.html" %}
{% load widget_tweaks %}
{% block content %}
<span id="transactions">

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<!--<script src="/static/toybox/bootstrap-table-1.8.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>-->
<!--<script src="/static/toybox/bootstrap-datepicker-1.5.0/js/bootstrap-datepicker.js"></script>-->

<!--<script>-->
  <!--$(function() {-->
    <!--$( "#id_date_from" ).datepicker();-->
    <!--$( "#id_date_to" ).datepicker();-->
  <!--});-->
<!--</script>-->


<h1  class="page-header">Transactions</h1>


<form role="form" action="{{ request.get_full_path }}" class="form-group" method='post' onsubmit="return validate(this);">
    {% csrf_token %}

     <div class="row panel-default col-xs-12 col-sm-11 ">
          <div class="panel-heading">Actions</div>
    {% for field in transaction_form%}
          <br>
            <div class=" input-group" >
                <span class="input-group-addon">{{field.label_tag|striptags}}</span>
                {% render_field field class+="form-control" id=field.auto_id %}

                <span class="input-group-btn">
                    {% for key, value in field.field.widget.attrs.items %}
                        {% if "button" in key %}
                            <button type="submit" class="btn btn-default" value="{{key}}" name="{{key}}" data-toggle="modal" >{{value}}</button>
                        {% endif %}
                    {% endfor %}
                </span>


            </div>

             <!--<div class="row ">-->
                 <ul  style="list-style-type:none;list-style:none;padding-left:0;">
                {% for error in field.errors  %}
                    <li><label class="label label-danger">{{ error|striptags }}</label></li>
                {% endfor %}
                </ul>
          <!--</div>-->

    {% endfor %}


   </div>

    <div class="row col-xs-12" style=" min-height: 20px;"  >
    </div>

</form>

<!--TODO who can have privileges to set the till value and bank?    -->

{% if transactions %}

    <div class="row col-xs-12 col-sm-11 " style=" min-height: 40px;"  >
        <div class="panel-default">
            <div class="panel-heading">Transaction History</div>
     <table  data-classes="table table-condensed table-no-bordered"
             data-toggle="table"
             data-filter-control="true"
             id="table_transaction"
             data-sort-name="id"
             data-sort-order="desc"
             data-search="true"
             data-show-columns="true"
             data-pagination="true"
             data-page-size="20"
             data-page-list='[20, 50, 100, 200, 300, 500]'>

             <thead>
                <tr>
                    <th data-field="id" data-sortable="true" >ID</th>
                    <th data-field="date_time" data-sortable="true" data-filter-control="datepicker" data-filter-datepicker-options='{"format":"dd/mm/yyyy", "autoclose":true, "clearBtn": true, "todayHighlight": true, "todayBtn": "linked",  "orientation": "bottom auto"}'>Date</th>

                    <th data-field="transaction_type"  data-sortable="true" data-filter-control="select">Type</th>
                    <th data-field="member"  data-sortable="true" data-filter-control="input">Member</th>
                    <th data-field="amount" data-sortable="true"  >Amount</th>
                    <th data-field="balance" data-sortable="true">Balance</th>
                    <th data-field="comment"  data-filter-control="select" data-sortable="true">Comment</th>
                    <th data-field="complete"  data-filter-control="select" data-sortable="true">Complete</th>
                </tr>
            </thead>

            {% for transaction in transactions %}
              <tr>
                    <td>{{transaction.id}}</td>

                    <td>
                        <span class="hidden">{{transaction.date_time|date:"Y/m/d H:i"}}</span>
                        {{transaction.date_time|date:"d/m/Y H:i"}}
                    </td>
                    <td>{{transaction.get_transaction_type_display}}</td>


                    <td>
                        <span class="hidden">{{transaction.member}}</span>
                        <a {%if transaction.member %} href="{% url 'toybox:members' transaction.member.id %}" {%endif%}>
                            {{transaction.member}}
                        </a></td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.balance}}</td>
                    <td>{{transaction.comment}}</td>
                    <td>{{transaction.complete}}</td>


              </tr>
            {% endfor %}

            </table>
        </div>
    </div>
{% endif %}

</span>




{% endblock content %}
